.about {
  position: relative;
  padding-bottom: 10rem;
}
.about__photo {
  width: clamp(200px, 500px, 90vw);
}

.bigImg {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.hobbies {
  font-weight: 800;
  font-size: 1.6rem;
  margin: 10rem 0 4rem 0;
}

.content {
  display: flex;
  margin-top: 10rem;
  gap: 6rem;
}
.content h2 {
  text-transform: uppercase;
  color: var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
}
.content > div {
  flex-basis: 50%;
}
.content__piece {
  position: relative;
}
.content__piece:first-of-type h3 {
  margin-top: 5rem;
}
.content__piece h3 {
  margin: 8rem 0 1rem 2rem;
  text-transform: capitalize;
  position: relative;
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
  text-shadow: var(--black-color) 0px 0px 1.2px, var(--black-color) 0px 0px 1.2px, var(--black-color) 0px 0px 1.2px, var(--black-color) 0px 0px 1.2px, var(--black-color) 0px 0px 1.2px, var(--black-color) 0px 0px 1.2px;
}
.content__piece h3 span {
  position: absolute;
  left: -1rem;
  top: -1rem;
  font-size: 20px;
  text-shadow: var(--black-color) 0px 0px 1px, var(--black-color) 0px 0px 1px, var(--black-color) 0px 0px 1px, var(--black-color) 0px 0px 1px, var(--black-color) 0px 0px 1px, var(--black-color) 0px 0px 1px;
}
.content__piece h3 span {
  position: absolute;
  left: -2rem;
  top: -2.5rem;
}
.content__piece p {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 2rem;
}
.content__icon {
  position: absolute;
  right: 0;
  top: 60%;
  z-index: -1;
  width: 20rem;
}
.content__icon svg {
  width: 100%;
}

.who {
  margin-top: 9rem;
}
.who p {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  color: var(--text-color);
}

.circles {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.circle {
  background-color: var(--primary-color);
  width: clamp(17rem, 20rem, 45%);
  height: clamp(17rem, 20rem, 45%);
  padding: 1rem;
  aspect-ratio: 1/1;
  position: relative;
  color: var(--white-color);
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
}
.circle span {
  position: absolute;
  background-color: var(--white-color);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--primary-color);
  top: -1.5rem;
  left: 10%;
}
.circle i img,
.circle i svg {
  width: 90%;
}
.circle:first-of-type {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.3;
}
.circle:last-of-type {
  font-size: 1.5rem;
  font-weight: 500;
}

.values {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 2rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
}

/* /////////queries///////// */
@media (max-width: 770px) {
  .content {
    flex-direction: column-reverse;
  }
  .content__icon {
    width: 16rem;
  }

  .who {
    margin-top: 0;
  }
}
@media (max-width: 455px) {
  .circles {
    flex-direction: column;
    align-items: center;
  }

  .values {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=About.module.css.map */